$container: 1440;
$padding: 30;
$containerWithPadding: $container + ($padding * 2);

$red: #b81e1e;
$blue: #235387;
$blue-dark: #19485e;
$black: #000000;
$white: #fff;
$gray: #ececec;
$gray-dark: #818181;
