.advantages-item {
    border-radius: 8px;
    background-color: $gray;

    @include adaptive-value("padding", 30, 15, 1);

    .icon {
        background-color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 40px;

        @include adaptive-value("width", 100, 60, 1);
        @include adaptive-value("height", 100, 60, 1);

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }

        img,
        svg {
            fill: $blue;
            object-fit: contain;

            @include adaptive-value("width", 60, 22, 1);
            @include adaptive-value("height", 45, 22, 1);
        }
    }

    span {
        display: block;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.04em;

        @include adaptive-value("font-size", 24, 16, 1);
        margin-bottom: 20px;

        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }

    p {
        max-width: 340px;

        @include adaptive-value("font-size", 16, 12, 1);
    }
}

.video-item {
    background-color: $gray;
    border-radius: 8px;

    // .video-item__iframe

    &__iframe {
        position: relative;
        aspect-ratio: 16/9;

        iframe {
            border-radius: 8px;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    span {
        padding: 20px;
        font-size: 18px;
        display: block;

        @media (max-width: 768px) {
            font-size: 14px;
            padding: 15px;
        }
    }
}

.review-item {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    padding: 20px;
    border-radius: 8px;
    background-color: $gray;

    @media (max-width: 768px) {
        padding: 15px;
        border-radius: 6px;
    }

    // .review-item__rating

    &__rating {
        width: 68px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }

    .text-box {
        flex: 1 1 auto;
    }

    // .review-item__data

    &__data {
        border-top: 1px solid rgba($color: $black, $alpha: 0.25);

        display: flex;
        align-items: center;

        @include adaptive-value("margin-top", 60, 30, 1);
        @include adaptive-value("padding-top", 20, 10, 1);

        span {
            display: block;
            flex: 0 0 auto;

            &:first-child {
                margin-right: -15px;

                @media (max-width: 768px) {
                    margin-right: -10px;
                }
            }

            img,
            svg {
                border-radius: 50%;
                width: 50px;
                height: 50px;

                @media (max-width: 768px) {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        div {
            margin-left: 15px;
            font-size: 16px;
            line-height: 1.4;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;

            @media (max-width: 768px) {
                margin-left: 10px;
                font-size: 12px;
            }

            label {
                display: block;
            }

            time {
                display: block;
                color: rgba($color: $black, $alpha: 0.5);
            }
        }
    }
}

.reviews-links {
    @include adaptive-value("margin-top", 50, 30, 1);

    @media (min-width: 769px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

[data-accordion] {
    [data-accordion-item] {
        padding: 20px 0;
        border-bottom: 1px solid rgba($color: $black, $alpha: 0.25);

        &[data-open] {
            [data-accordion-item-content] {
            }

            [data-accordion-item-title] {
                color: $blue;

                svg {
                    transform: rotate(45deg);
                }
            }
        }
    }

    [data-accordion-item-title] {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.01em;

        display: flex;
        align-items: center;
        justify-content: space-between;

        transition: all 0.3s ease 0s;

        svg {
            width: 16px;
            height: 16px;
            fill: $blue;

            transition: all 0.3s ease 0s;
        }
    }

    [data-accordion-item-content] {
    }

    [data-accordion-item-height] {
        div {
            padding: 40px 0;
            max-width: 90%;
        }
    }
}
